<h1 class='special-text' style='font-size:48px; line-height:52px; text-align:center;'>{{ GAME_NAME }}</h1>
<h5 class='special-text' style='text-align:center;'>Created by {{AUTHOR}} </h5>
<br/>
<p>This game is a text-based RPG, and contains a lot of graphics. You must agree to the game's disclaimer before playing
    this game!
</p>
<p>You can visit my blog to check on development progress (use the 'Blog' button below to open the blog in your default
    browser).</p>
<p style='text-align:center'>
    <b>Please use either my blog or github to get the latest official version!</b>
</p>